<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoadObserverWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>com.sap.loadobserver.web.listeners.ContextListener</listener-class>
  </listener>
  <context-param>
  	<param-name>interval</param-name>
  	<param-value>180</param-value>
  </context-param>

 <context-param>
	<param-name>ws_port</param-name>
	<param-value>0</param-value>
 </context-param>
  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>LoadObserver</web-resource-name>
			<description>Protected area</description>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Administrators Role is required for managing applications</description>
			<role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Load Observer</realm-name>
	</login-config>
	<security-role>
		<role-name>Administrator</role-name>
	</security-role>
  
</web-app>