<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>web</display-name>
  <servlet>
    <servlet-name>SpecJhome</servlet-name>
    <jsp-file>/SpecJhome.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <jsp-file>/welcome.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SpecAppServlet</servlet-name>
    <servlet-class>org.spec.jappserver.servlet.SpecAppServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dealerinventory</servlet-name>
    <jsp-file>/dealerinventory.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>loginSummary</servlet-name>
    <jsp-file>/loginSummary.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>order</servlet-name>
    <jsp-file>/order.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>purchase</servlet-name>
    <jsp-file>/purchase.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>shoppingcart</servlet-name>
    <jsp-file>/shoppingcart.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfg_incl_footer</servlet-name>
    <jsp-file>/mfg_incl_footer.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfg_incl_header</servlet-name>
    <jsp-file>/mfg_incl_header.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfghome</servlet-name>
    <jsp-file>/mfghome.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfglargeorder</servlet-name>
    <jsp-file>/mfglargeorder.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfgschedulewo</servlet-name>
    <jsp-file>/mfgschedulewo.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfgwelcome</servlet-name>
    <jsp-file>/mfgwelcome.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>mfgworkorder</servlet-name>
    <jsp-file>/mfgworkorder.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dealership_incl_header</servlet-name>
    <jsp-file>/dealership_incl_header.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dealership_incl_footer</servlet-name>
    <jsp-file>/dealership_incl_footer.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>atomicity</servlet-name>
    <jsp-file>/atomicity.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cachetest</servlet-name>
    <jsp-file>/cachetest.jsp</jsp-file>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecAppServlet</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <env-entry>
<!--
    <description>The debug level of the bean - higher value means more information</description>
-->
    <env-entry-name>debuglevel</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>0</env-entry-value>
  </env-entry>
  <env-entry>
<!--
    <description>Used to state if web to ejb tier uses local interfaces</description>
-->
    <env-entry-name>localwebtoejb</env-entry-name>
    <env-entry-type>java.lang.Boolean</env-entry-type>
    <env-entry-value>true</env-entry-value>
  </env-entry>
  <ejb-ref>
    <ejb-ref-name>CustomerSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.corp.CustomerSes</remote>
    <ejb-link>CustomerSes</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>OrderSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.orders.OrderSes</remote>
    <ejb-link>OrderSes</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ItemBrowserSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.orders.ItemBrowserSes</remote>
    <ejb-link>ItemBrowserSes</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>WorkOrderSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.mfg.WorkOrderSes</remote>
    <ejb-link>WorkOrderSes</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>LargeOrderSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.mfg.LargeOrderSes</remote>
    <ejb-link>LargeOrderSes</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>OrderAuditSes</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <remote>org.spec.jappserver.orders.OrderAuditSes</remote>
    <ejb-link>OrderAuditSes</ejb-link>
  </ejb-ref>
  <ejb-local-ref>
    <ejb-ref-name>CustomerSesLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>org.spec.jappserver.corp.CustomerSesLocal</local>
    <ejb-link>CustomerSes</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>OrderSesLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>org.spec.jappserver.orders.OrderSesLocal</local>
    <ejb-link>OrderSes</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ItemBrowserSesLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>org.spec.jappserver.orders.ItemBrowserSesLocal</local>
    <ejb-link>ItemBrowserSes</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>WorkOrderSesLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>org.spec.jappserver.mfg.WorkOrderSesLocal</local>
    <ejb-link>WorkOrderSes</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>LargeOrderSesLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>org.spec.jappserver.mfg.LargeOrderSesLocal</local>
    <ejb-link>LargeOrderSes</ejb-link>
  </ejb-local-ref>
</web-app>
